<app-navbar></app-navbar>
<div class="container">
  <!-- Mensagem de boas-vindas -->
  <div id="messageBox" class="message-box">
    <img src="../../../../assets/icons/obizilla favicon 1.png" alt="Mascote" class="mascote">
    <p class="message">Olá! Como posso te ajudar hoje?</p>
  </div>

  <!-- Área do chat -->
  <div id="chatArea" class="chat-area" (scroll)="onChatScroll($event)"></div>
</div>

<!-- Área de input fixo ao final -->
<div class="input-wrapper">
  <div class="input-container">
    <textarea id="userInput" placeholder="Digite aqui..." rows="1" (keydown)="onEnter($event)"></textarea>

    <!-- Ícone de envio usando uma imagem -->
    <svg (click)="sendMessage()"
      id="sendButton"
      width="14"
      height="13"
      viewBox="0 0 14 13"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M0.729248 12.7181L13.7292 6.71814L0.729248 0.71814L0.729248 5.33352L9.39592 6.71814L0.729248 8.10276L0.729248 12.7181Z"
        fill="white" />
    </svg>
  </div>
</div>
