@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "primeng/resources/themes/saga-blue/theme.css";
@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";

* {
  font-family: 'Inter', sans-serif;
  color: white;
}

::selection {
  background-color: white;
  color: black;
}

html, body {
  margin: 0;
  width: 100%;
  height: 96%;
}

body {
  background-color: black;
}

.container {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
}

.toast-custom {
  position: absolute;
  bottom: 15px; /* Ajuste conforme necessário */
  right: 15px; /* Ajuste conforme necessário */
  z-index: 999999 !important;
  border-radius: 10px !important; /* Adicione o border-radius aqui */
  padding: 12px 15px !important; /* Adicione o padding aqui */
}

/* Estilos personalizados para as notificações */
.toast-success {
  background-color: #4caf50 !important;
  color: white !important;
  z-index: 999999 !important;
  border-radius: 10px !important; /* Adicione o border-radius aqui */
  padding: 12px 15px !important; /* Adicione o padding aqui */
}

.toast-error {
  background-color: #f44336 !important;
  color: white !important;
  border-radius: 10px !important; /* Adicione o border-radius aqui */
  padding: 12px 15px !important; /* Adicione o padding aqui */
}

.toast-warning {
  background-color: #ffc800 !important;
  color: rgb(0, 0, 0) !important;
  z-index: 999999 !important;
  border-radius: 10px !important; /* Adicione o border-radius aqui */
  padding: 12px 15px !important; /* Adicione o padding aqui */
}

.toast-info {
  background-color: #2196f3 !important;
  color: white !important;
  z-index: 999999 !important;
  border-radius: 10px !important; /* Adicione o border-radius aqui */
  padding: 12px 15px !important; /* Adicione o padding aqui */
}

.toast-title {
  font-weight: bold;
}

.toast-message {
  font-size: 14px;
}
